<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MapKit JS Demo!</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>
</head>

<body>
    <div id="map"></div>
  
    <div id="attribution">
      made by <a href="https://twitter.com/jkap">@jkap</a><br>
      remix on <a href="https://glitch.com/edit/#!/jkap-mapkitjs-demo">glitch</a><br>
      MapKit JS <a href="https://developer.apple.com/documentation/mapkitjs">docs here</a>
  </div>

    <script src="client.js"></script>
</body>

</html>